/* // MAIN CSS //*/

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    overflow-y: scroll;
}

body {
    font: 12px "Gentium Basic", serif;
}

.fixed-width {
    max-width: 1060px;
    margin: 0px auto;
}

.margin-buffer {
    margin-left: 30px;
    margin-right: 30px;
}

nav {
    height: 30px;
    margin-top: 20px;
    margin-bottom: 50px;
    position: relative;
    font: 700 1.5em "Open Sans", sans-serif;
    letter-spacing: 1px;
}

.logo, .about {
    text-decoration: none;
    color: #1f1f1f;
    transition: all 0.1s ease-in-out;
}

nav a:hover {
    color: #ff003d;
}

.about {
    position: absolute;
    right: 0;
    text-align: right;
}

.grid {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
}

.grid-object {
    height: 470px;
    width: calc((100%/2) - 1%);
    margin-bottom: 2%;
}

.grid-object a {
    display: block;
    width: 100%;
    height: 100%;
}

.split {
    width: 2%;
    height: 470px;
}

footer {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 20px;
}





/* // TYPOGRAPHICAL TREATMENT //*/

h1 {
    font: bold 3em "Open Sans", serif;
    letter-spacing: .05em;
    color: #1f1f1f;
}

h2 {
    font: bold 1em "Open Sans", serif;
    letter-spacing: .05em;
    color: #1f1f1f;
}

h3 {
    font: bold 3em "Gentium Basic", serif;
    line-height: 1.5em;
    color: #1f1f1f;
}

h4 {
    font: bold 1.2em "Open Sans", serif;
    letter-spacing: .05em;
    color: #1f1f1f;
}

p {
    font: 500 1.5em "Gentium Basic", serif;
    letter-spacing: .03em;
    line-height: 1.6em;
    color: #1f1f1f;
}





/* // TEMPLATE ELEMENTS //*/

.banner {
    background-color: black;
    margin-bottom: 30px;
    height: 400px;
}

.banner a {
    display: block;
    width: 100%;
    height: 100%;
}

.intro {
    margin-top: 120px;
    margin-bottom: 100px;
}

.section-title {
    margin-bottom: 30px;
}

.split-text-container {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
}

.left-text {
    width: calc(200%/3);
}

.right-text {
    width: calc(100%/3);
    padding-left: 10%;
    box-sizing: border-box;
}

.right-text h4 {
    margin-bottom: 10px;
    color: #8b8c91;
}

.right-text p {
    color: #8b8c91;
}

.display-image {
    margin-bottom: 50px;
    height: 500px;
}

.display-image a {
    display: block;
    width: 100%;
    height: 100%;
}

.prototype {
    position: relative;
    margin-bottom: 50px;
    padding-bottom: 45%; /* 16:9 */
/*    padding-top: 25px;*/
/*    height: 500px;*/
}

.prototype.video {
    padding-bottom: 54%; /* 16:9 */
	padding-top: 25px;
}

.prototype iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}





/* // RESPONSIVE CSS //*/

@media (max-width: 1000px) {
    .grid-object {
        flex-basis: 100%;
    }
}
