/* // MAIN CSS //*/

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    overflow-y: scroll;
}

body {
    font: 12px "Gentium Basic", serif;
}

.fixed-width {
    max-width: 1060px;
    margin: 0px auto;
}

.margin-buffer {
    margin-left: 30px;
    margin-right: 30px;
}

nav {
    height: 30px;
    margin-top: 20px;
    margin-bottom: 50px;
    position: relative;
    font: 700 1.5em "Open Sans", sans-serif;
    letter-spacing: 1px;
}

.logo, .about {
    text-decoration: none;
    color: #1f1f1f;
    transition: all 0.1s ease-in-out;
}

nav a:hover, nav a:focus {
    color: #ff003d;
}

.about {
    position: absolute;
    right: 0;
    text-align: right;
}

footer {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 20px;
}





/* // TYPOGRAPHICAL TREATMENT //*/

h1 {
    font: bold 3em "Open Sans", serif;
    letter-spacing: .05em;
    color: #1f1f1f;
}

h2 {
    font: bold 1em "Open Sans", serif;
    letter-spacing: .05em;
    color: #1f1f1f;
}

h3 {
    font: bold 3em "Gentium Basic", serif;
    line-height: 1.5em;
    color: #1f1f1f;
}

h4 {
    font: bold 1.2em "Open Sans", serif;
    letter-spacing: .05em;
    color: #1f1f1f;
}

p, ul {
    font: 500 1.5em "Gentium Basic", serif;
    letter-spacing: .03em;
    line-height: 1.6em;
    color: #1f1f1f;
}

p a, li a {
    text-decoration: none;
    color: #1f1f1f;
    transition: all 0.1s ease-in-out;
}

p a.underline:hover, li a.underline:hover, p a.underline:focus, li a.underline:focus {
/*    color: #ff003d;*/
    text-decoration: underline;
}





/* // TEMPLATE ELEMENTS //*/

.image-container {
    max-width: 1060px;
}


.banner {
    background-color: black;
    margin-bottom: 30px;
    height: 400px;
}

.banner a {
    display: block;
    width: 100%;
    height: 100%;
}

.intro {
    margin-top: 120px;
    margin-bottom: 100px;
}

.section-title {
    margin-bottom: 30px;
}

.split-text-container {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
}

.left-text {
    width: calc(200%/3);
}

.right-text {
    width: calc(100%/3);
    padding-left: 10%;
    box-sizing: border-box;
}

.right-text h4 {
    margin-bottom: 10px;
    color: #8b8c91;
}

.right-text p {
    color: #8b8c91;
}

.display-image {
    margin-bottom: 50px;
    height: 500px;
}

.display-image a {
    display: block;
    width: 100%;
    height: 100%;
}

.infographic, .art {
    width: 100%;
    margin-bottom: 50px;
    height: 100%;
}

.prototype {
    position: relative;
    margin-bottom: 50px;
    padding-bottom: 45%; /* 16:9 */
/*    padding-top: 25px;*/
/*    height: 500px;*/
}

.prototype.video {
    padding-bottom: 54%; /* 16:9 */
	padding-top: 25px;
}

.prototype iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.grid {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
}

.grid-object {
    height: 470px;
    width: calc((100%/2) - 1%);
    margin-bottom: 2%;
}

.grid-object a {
    display: block;
    width: 100%;
    height: 100%;
}

.img-container {
    max-width: 1000px;
    max-height: 427px;
    overflow: hidden;
    margin-bottom: 50px;
}


.img-container-object {
    width: 100%;
    height: 100%;
    position: relative;
}


.button-container {
    height: 45px;
    position: relative;
}

.button {
    width: 200px;
    height: 48px;
    position: absolute;
    left: calc(50% - 100px);
    text-decoration: none;
    text-align: center;
}

.button p {
    border: 3px solid rgba(31, 31, 31, 0.9);
    line-height: 45px;
}

.text-image {
    display: flex;
    max-height: 500px;
    max-width: 1000px;
}






/* // ANIMATIONS //*/

@-webkit-keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
@keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}

.hvr-buzz-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}

.hvr-buzz-out:hover, .hvr-buzz-out:focus, .hvr-buzz-out:active {
  -webkit-animation-name: hvr-buzz-out;
  animation-name: hvr-buzz-out;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}



/* // RESPONSIVE CSS //*/

@media (max-width: 1060px) {
    .grid-object {
        flex-basis: 100%;
    }
}

@media (max-width: 600px) {
    body {
    font: 9px "Gentium Basic", serif;
    }
    
    .margin-buffer {
    margin-left: 10px;
    margin-right: 10px;
    }
    
    .grid-object {
    height: 300px;
    }
}
